<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<base href="/"/>
	<link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]"/>
	<link rel="stylesheet" href="@Assets["app.css"]"/>
	<link rel="stylesheet" href="@Assets["Oprim.Ui.styles.css"]"/>
	<ImportMap/>
	<link rel="icon" type="image/png" href="favicon.png"/>

	<!-- Icons css -->
	<link href="assets/plugins/icons/icons.css" rel="stylesheet">

	<!-- Bootstrap css -->
	<link href="assets/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet">

	<!--  Right-sidemenu css -->
	<link href="assets/plugins/sidebar/sidebar.css" rel="stylesheet">

	<!-- P-scroll bar css-->
	<link href="assets/plugins/perfect-scrollbar/p-scrollbar.css" rel="stylesheet"/>

	<!--  Sidemenu css -->
	<link id="theme" rel="stylesheet" href="assets/css-rtl/sidemenu.css">


	<!--  Owl-carousel css-->
	<link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet"/>

	<!-- Maps css -->
	<link href="assets/plugins/jqvmap/jqvmap.min.css" rel="stylesheet">


	<!--- Style css --->
	<link href="assets/css-rtl/style.css" rel="stylesheet">
	<link href="assets/css-rtl/style-dark.css" rel="stylesheet">
	<link href="assets/css-rtl/boxed.css" rel="stylesheet">
	<link href="assets/css-rtl/dark-boxed.css" rel="stylesheet">

	<!---Skinmodes css-->
	<link href="assets/css-rtl/skin-modes.css" rel="stylesheet"/>

	<!--- Animations css-->
	<link href="assets/css-rtl/animate.css" rel="stylesheet">

	<!---Switcher css-->
	<link href="assets/switcher/css/switcher-rtl.css" rel="stylesheet">
	<link href="assets/switcher/demo.css" rel="stylesheet">

	<HeadOutlet/>
</head>

<body  class="main-body app sidebar-mini">

<Routes/>
<script src="assets/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap js-->
<script src="assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap-rtl.js"></script>

<!-- Ionicons js-->
<script src="assets/plugins/ionicons/ionicons.js"></script>

<!-- Moment js -->
<script src="assets/plugins/moment/moment.js"></script>

<!-- P-scroll js -->
<script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min-rtl.js"></script>
<script src="assets/plugins/perfect-scrollbar/p-scroll-rtl.js"></script>

<!-- Rating js-->
<script src="assets/plugins/rating/jquery.rating-stars.js"></script>
<script src="assets/plugins/rating/jquery.barrating.js"></script>

<!-- Sticky js -->
<script src="assets/js/sticky.js"></script>

<!-- sidemenu js -->
<script id="sidemenu" src="assets/plugins/side-menu/sidemenu.js"></script>

<!-- Right-sidebar js -->
<script src="assets/plugins/sidebar/sidebar-rtl.js"></script>
<script src="assets/plugins/sidebar/sidebar-custom.js"></script>

<!-- eva-icons js -->
<script src="assets/plugins/eva-icons/eva-icons.min.js"></script>


<!-- Moment js -->
<script src="assets/plugins/raphael/raphael.min.js"></script>

<!--Internal  Chart.bundle js -->
<script src="assets/plugins/chartjs/Chart.bundle.min.html"></script>

<!--Internal Sparkline js -->
<script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

<!--Internal Apexchart js-->
<script src="assets/js/apexcharts.js"></script>

<!-- Internal Map -->
<script src="assets/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

<!--Internal  index js -->
<script src="assets/js/index.js"></script>

<!-- Apexchart js-->
<script src="assets/js/apexcharts.js"></script>
<script src="assets/js/jquery.vmap.sampledata.js"></script>


<!-- custom js -->
<script src="assets/js/custom.js"></script>

<!-- Switcher js -->
<script src="assets/switcher/js/switcher-rtl.js"></script>


<script src="_framework/blazor.web.js"></script>
</body>

</html>